* {
    box-sizing: border-box; /* for the image container */
}
/* funktioniert nicht ?!*/

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  /* background-color: rgba(27,132,168,1); */
}

body > footer {
    background-color:rgba(255, 197, 8, 0.329);
}

article {
    margin: 0 15% 0 15%; 
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #179d97;
}

img {
  margin-bottom: 10px;
}

img.shop {
  border: solid 2px black;
}

footer {
  margin-left: 15%;
  max-width: 70%;
  margin-top: auto;
  background-color: white;
}
.text_center {
  text-align: center;
  margin-bottom: 50px;
}

.text {
  text-align: left;
  margin-bottom: 50px;
}

#responsive-picture {
    max-width: 100%;
    height: auto;
}

/* black border, central text, 5px distance from top */
header,
nav {
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
    /* margin-top: 5px; */
    background-color: white;
}

p { 
  text-align: center;
}


/* font */
h1,
h2,
h3,
p { 
    font-family: Arial, Helvetica, sans-serif;
}

/* font size */
h1 { font-size: 160%; }
h2 { 
    font-size: 140%; 
    text-align: center;
}
h3 { font-size: 180%; }

ul {
  text-align: left;
}

/* 
===================================
HEAD DESIGN 
===================================
*/
.head-headline { 
    margin: 50px 0 0 0;
    font-size: 500%; 
    color: white;
    text-transform: capitalize;
    /*
    background: rgb(27,132,168);
    background-image: linear-gradient(125deg, rgba(27,132,168,1) 13%, rgba(13,220,108,1) 55%, rgba(241,211,8,1) 84%);
    
    background: rgb(27,132,168);
    background: linear-gradient(125deg, rgba(27,132,168,1) 24%, rgba(13,220,108,1) 43%, rgba(241,211,8,1) 70%);
    
    background: rgb(27,132,168);
    background: linear-gradient(125deg, rgba(27,132,168,1) 35%, rgba(13,220,108,1) 50%, rgba(241,211,8,1) 65%);
    */
    background: rgb(27,132,168);
    background: linear-gradient(125deg, rgba(27,132,168,1) 25%, rgba(13,220,108,1) 50%, rgba(241,211,8,1) 75%);
    /*
    background: rgb(27,132,168);
    background: linear-gradient(125deg, rgba(27,132,168,1) 10%, rgba(13,220,108,1) 20%, rgba(241,211,8,1) 30%);
    */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 150% 150%;
}

.head-description {
    margin: 0 0 70px 0;
    font-weight: 700;

}

/*
===================================
NAV BAR STYLE
===================================
*/
a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(23,157,151,0.5);
    overflow: hidden;
    border-bottom: rgba(27,132,168,1);
    border-bottom-style: solid;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #179d97;
    color: black;
}
  
/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgba(27,132,168,1);
    color: black;
}
  
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/*
============================
JUMP TO TOP BUTTON
============================
*/

#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(180, 180, 180); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topButton:hover {
  background-color: grey;
}



/*
=============================
IMAGE-CONTAINER 
=============================
*/

/* Position the image container (needed to position the left and right arrows) */
.imageContainer {
  position: relative;
  max-width: 1024px;
  /* width: 1024px; */
  margin: auto;
  margin-bottom: 10px;
} 

/* Hide the images by default */
.imageSlide {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the prev button to the left */
.prev {
left: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: black;
}

/* Center the little pictures under the big one */
.row {
  display: flex;
  justify-content: center;
}
/*
.row {
  margin: 0 auto;
  position: absolute;
}
*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*
========================================================================================
*/


/*
====================
Bottom Nav Bar
====================
*/
/* Add a black background color to the top navigation */
.bottom-nav {
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .bottom-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   /* font-size: 17px;*/
    font-size: 100%;
    border-bottom: 3px solid transparent;
  }
  
  .bottom-nav a:hover {
    border-bottom: 3px solid rgb(28, 185, 247);
  }